<div class="green-btn">
    @Html.ActionLink("Create A New Message", "Compose")
</div>
<div class="green-btn">
    @Html.ActionLink("Inbox", "Inbox")
</div>
<div class="green-btn">
    @Html.ActionLink("Outbox", "Outbox")
</div>
