@using com.GreenThumb.MVC.Models;
@using com.GreenThumb.BusinessObjects;
@model ContributionsDetailViewModel
@{
    ViewBag.Title = "ViewContributions";
}

<h2>ViewContributions</h2>
<div>
    <div>
        <p class="h3">Pending Contributions</p>
        @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.PendingContributions)
    </div>
    <div>
        <p class="h3">Accepted Contributions</p>
        @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.ApprovedContributions)
    </div>
    <div>
        <p class="h3">Declined Contributions</p>
        @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.DeclinedContributions)
    </div>
</div>

