@*Created by:Kristen Johnson, Chris Schwebach, Nick King  04/07/2016*@

@model IEnumerable<com.GreenThumb.BusinessObjects.Group>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Gardens you belong to by group</h2>
    @foreach (com.GreenThumb.BusinessObjects.Group group in Model)
    {
        <div class="UserGardensTable">
            @Html.Partial("~/Views/PartialViews/Group_GardenTable.cshtml", group)
        </div>

    }

</div>

<div>

    @Html.ActionLink("Create New Garden", "CreateGarden", "Garden", new { @id = 1000 }, null)
</div>
