@*Edited by: Ash Duhautois 05/04/2016
    Formatted styling*@

@{
    ViewBag.Title = "AlreadyExpert";
}

@using (Html.BeginForm())
{
    <h3>You already have an expert request submitted! Thank You!</h3>
}