@* Created By: Trent Cullinan 04/14/16 *@
@model IEnumerable<com.GreenThumb.BusinessObjects.NeedContribution>
<div>
    @if (0 < Model.Count())
    {
        <table>
            <thead>

            </thead>
            <tbody></tbody>
        </table>
    }
    else
    {
        <p class="h3">No contributions found.</p>
    }
</div>
