
@{
    ViewBag.Title = "Index";
}

<h2>Admin Page</h2>

<div>
    @Html.ActionLink("Manage Experts", "MngExpert", "Admin")
</div>
<br />
<div>
    @Html.ActionLink("View Approved Experts", "Experts", "Admin")
</div>