@*Created by Nicholas King  04/03/2016*@
@model com.GreenThumb.MVC.Models.GroupIndexViewModel

<div class="GroupIndex">
    @if (Model.UserGroupList.Count() > 0)
    {
        <div class="UsersGroupList">
            @Html.Partial("~/Views/PartialViews/UserGroupsTable.cshtml", Model.UserGroupList)
        </div>
    }
    
    <div class="createGarden">
        @Html.Partial("~/Views/PartialViews/CreateGroup.cshtml")
    </div>

    @if (Model.NonUserGroupList.Count() > 0)
    {
        <div class="UsersGroupList">
            @Html.Partial("~/Views/PartialViews/GroupsUserHasntJoinedTable.cshtml", Model.NonUserGroupList)
        </div>
    }
</div>
