@{
    ViewBag.Title = "Home Page";
}

<div class="home-intro">
    <h1 class="text-center">Welcome to GreenThumb.</h1>
    <h3 class="text-center">a community garden project</h3>
</div>

<div class="row home-intro-div">
    <div class="dark-div round col-lg-4 col-md-6 col-sm-11 center-block">

        <ul>
            @{
                var al10 = ViewBag.Announcements;
                foreach (var a in al10)
                {
                    <li> @a.Announcement </li>
                }
            }


        </ul>

    </div>
</div>